*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
  height: 100vh;
}

.navbar{
  
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-logo{

  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.nav-links{
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* background-color: red; */
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: white;
}

.lefthalf{
  background-color: #00235B;
}
.headersection .leftheader{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;

}
.createacc,.login{
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px;
  transition: 0.5s;
  color: white !important;
  background-color:#146C94 !important;
  margin-left: 50px;
}
.createacc:hover, .login:hover{
  background-color: white !important;
  color:#146C94 !important;
}
.happyBankingtext{
  background-color: #19a7cea3;
  padding: 20px;
}
.happyBankingtext .textcontainer{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}
.value-grid {
  padding: 10px;
  border: 3px solid black;
}
.value-grid .gridrow {
  padding: 10px;
  border: 3px solid black;
}
.home-moneytree{
  height: 500px;
  
}
.servicecontainer .card{
 margin: 5px;
}
.banner-section{
  background-image: url("https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  height: 300px ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color:white;


}
.leftcol{
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.section2button{
  background-color: #146C94;
  color: white;
  width: 6cm;
}
.rightcol{
  position: relative;
  width: 800px;

}

.bluepatch{
  height: 300px;
  width: 400px;
  background-color: #19A7CE;
  position:absolute;
  top:50px;
  right: 50px;
}
.bankphoto img{
  height: 300px;
  width: 500px;
  position: absolute;
  
}
hr{

height: 45px;
border-top:5px solid #146C94;

}
.membersection{
  max-width: 300px;
  width: 100%;
  background-color: #146C94;
  border-radius: 12px;
  padding: 30px;
  /* box-shadow: 0 15px 25px black; */
  display: flex;
}
.membercard{
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  
}

.membercard .image{
  height: 150px;
  width:150px;
}
.membercard .h2{
  margin-top: 25px;
  font-size: 22px;
  font-weight: 600;
}
.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.home{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}
.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  padding: 1rem;
  background-color: white;
}

.transaction-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 25%;
  background-color: #146C94;
  border-radius: 5px;
}

.transaction{
  height: 20%;
  width: 90%;
  background-color: #19A7CE;
  margin-top: 1rem;
  border-radius: 5px;
}

.accounts-panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
  width: 60%;
  background-color: #B3E5BE;
  border-radius: 5px
}

.account{
  height: 20%;
  width: 40%;
  background-color: #C9EEFF;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  background-color: white;
}

.service{
  height: 40%;
  width: 30%;
  background-color: #CBE4DE;
  border-radius: 5px;
}

.money-transfer {
    padding: 40px;
    font-family: "Helvetica Neue";
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: box; */
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* background-color: green; */
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0.5rem;
    /* background-color: #2b96f1; */
    /* border: 1px solid silver; */
    
  }

  .buttons button{
    cursor: pointer;
    width: 40%;
    padding: 0.3rem;
    border: 1px solid silver;
    border-radius: 5px;
  }

  .submit-btn{
    background-color: #2b96f1;
    color: white;
    font-size: large;
  }

  .cancel-btn{
    background-color: red;
    color: white;
    font-size: large;
  }
  .input-wrapper {
    position: relative;
    line-height: 14px;
    margin: 5px 10px;
    margin-left: 6rem;
    display: inline-block;
    width: 20rem;
  }
  label {
    color: #bbb;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 14px;
    padding: 0 2px;
    pointer-events: none;
    background: #fff;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  .input-wrapper select{
    width: 13.2rem;
  }
  input, select {
    font-size: 13px;
    color: #555;
    outline: none;
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
  }
  input:invalid + label, select:invalid + label {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  input:focus, select:focus {
    border-color: #2b96f1;
  }
  input:focus + label,select:focus + label {
    color: #2b96f1;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  