*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.money-transfer {
    padding: 40px;
    font-family: "Helvetica Neue";
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* background-color: green; */
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }


  .buttons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0.5rem;
    /* background-color: #2b96f1; */
    /* border: 1px solid silver; */
    
  }

  .buttons button{
    width: 40%;
    padding: 0.3rem;
    border: 1px solid silver;
    border-radius: 5px;
  }

  .submit-btn{
    background-color: #2b96f1;
    color: white;
    font-size: large;
  }

  .cancel-btn{
    background-color: red;
    color: white;
    font-size: large;
  }
  .input-wrapper {
    position: relative;
    line-height: 14px;
    margin: 5px 10px;
    margin-left: 6rem;
    display: inline-block;
    width: 20rem;
  }
  label {
    color: #bbb;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 14px;
    padding: 0 2px;
    pointer-events: none;
    background: #fff;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  .input-wrapper select{
    width: 13.2rem;
  }
  input, select {
    font-size: 13px;
    color: #555;
    outline: none;
    border: 1px solid #bbb;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
  }
  input:invalid + label, select:invalid + label {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  input:focus, select:focus {
    border-color: #2b96f1;
  }
  input:focus + label,select:focus + label {
    color: #2b96f1;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  